django
djangorestframework
django-cors-headers
adrf

langchain
langchain-huggingface
langchain-community
langchain-chroma
langchain-ollama
huggingface-hub

ollama
docx2txt
beautifulsoup4
tiktoken
chromadb
lark