.main-content {
  margin-left: 3%;
  margin-top: 2%;
  transition: margin-left 0.3s ease-in-out;
  width: 100%;
}

.main-content.sidebar-collapsed {
  margin-left: 2%;
}

.text-indigo {
  color: #4F46E5;
}

.bg-indigo {
  background-color: #4F46E5;
}

.logo-text {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.logo-text.collapsed  {
  opacity: 0;
  transform: translateX(-100px);
  position: absolute;
}

.feature-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
